:root {
    --primary:#2e2b35;
    --secondary:#d9d9d9;
    --highlight:#3947b1;
    --colorText:#f0eef9;
}

html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    margin: 0;
}



.header-navbar {
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding-inline: 2rem;

    position: fixed;
    width: 100vw;

    z-index: 9999;
}

/* .header-navbar #logo-navbar {
    color: var(--primary);
    font-size: 2.5rem;
} */

.header-navbar h1 {
    font-weight: bold;
    color: var(--primary);
}

.header-navbar #icon-menu {
    background-color: var(--primary);
    border-radius: 50%;

    font-size: 2.5rem;

    color: var(--secondary);
}



.side-navbar {
    display: flex;
    position: fixed;
    top: 0;
    right: -500px;
    
    background-color: var(--primary);
    width: 300px;
    height: 100%;

    transition: all 0.5s ease;
    z-index: 9998;
}

.side-navbar a {
    text-decoration: none;

    font-size: 1.5rem;
}

.side-navbar #ul-sidebar {
    display: flex;
    flex-flow: column nowrap;

    row-gap: 1rem;

    list-style-type: none;

    width: 100%;

    padding-top: 2.5rem;
}

.side-navbar :where(#ul-sidebar, a){
    padding-inline: 0;

    color: var(--colorText);

    transition: all 0.3s ease-in-out;
}
.side-navbar #li-sidebar {
    display: flex;

    padding-left: 1rem;

    align-items: center;
    height: 3rem;

    transition: all 0.3s ease-out;
}

.side-navbar span {
    display: none;
    width: 12px;
    height: 12px;

    border-radius: 50%;

    background: var(--primary);
    transition: 0.3 ease-in-out;
}

.side-navbar #li-sidebar:hover span {
    display: block;
}

.side-navbar #li-sidebar:hover {
    background: var(--colorText);
}

.side-navbar #li-sidebar:hover a{
    color: var(--primary);
    font-weight: 700;
    padding-inline: 2rem;
}





main {
    display: flex;

    transition: all 0.3s ease;
    transition-delay: -0.1s;
}

main .content {
    flex: 1;
}
main h1, p{
    color: var(--primary);
    font-weight: bold;
}

main .page {
    height: 100vh;
    
    background: var(--secondary);

    border: 2px solid var(--primary);
    border-radius: 20px;
}

main #page1 {
    display: flex;    
    overflow: hidden;

    /* background: url("/Submission-1/image/Background_1.png") right / 70% no-repeat; */
}

main #page1 .div-content {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--primary);

    padding: 15rem 0.3rem 0.3rem 2rem;
}

main #page1 h1 {
    font-size: 2rem;
}

main #page1 p {
    font-size: 1.6rem;
    font-weight: 500;
}

main .image-page1 {
    display: flex;

    border: 2px solid var(--primary);

    transition:all 0.8s ease-in-out;
}
main .image-page1 img:nth-child(1) {
    transform: translateX(55px);
    width: 700px;
    height: 615px;
}
main .image-page1 img:nth-child(2) {
    position: absolute;
    transform: translate(180px, 75px);
    width: 500px;
    transition:all 0.5s ease-in-out;
    transition-delay: 0.5s;
}


main #page3 img {
    width: 100px;
}






footer {
    display: flex;

    justify-content: center;
    align-items: center;

    padding-block: 1rem;
    padding-inline: 1rem;
    height: 10vh;
    background: var(--primary);
}
footer p {
    margin: 0;
    color: var(--colorText);
}





/* activated javascript function*/

.header-navbar.activated {
    transform: translateY(-100px);

    transition: 0.5s ease-in-out;
}

.header-navbar
#icon-menu.activated {
    color: var(--colorText);
    filter: drop-shadow(0 0 3px);
}

.side-navbar.activated {
    right: 0;
}

main.activated {
    margin-right: 300px;

    transition: all 0.5s ease;
    transition-delay: 0.1s;
}
main .image-page1.activated {
    transform: translateX(1000px);
}
main .image-page1 img:nth-child(2).activated {
    transform: translate(500px, 75px);
}